body{
	font-family:Arial, sans-serif;
	background:#48484F;

}

#prediction {
	border-top:2px solid #555555;
	background:#595959;
	height:500px;
	width:1000px;
	margin:10% auto;	

}

#prediction-text {

	font:50px Helvetica, sans-serif;
	color:white;
	padding:20% 5%;
	text-align:center;
}

#footer {


}

h1 {
	/*height/prediction height */
	font:50px/400px Helvetica, sans-serif;
	text-align:center;
	color:white;
}
