body{
	font-family:Arial, sans-serif;
	background:#D4D4D5;

}

#prediction {
	background:#CECBCD;
	height:500px;
	width:1000px;
	margin:10% auto;	
	font:25px Helvetica, sans-serif;
	color:#4A4D56;
	font-style:italic;
}

#prediction-text {

	font:50px Helvetica, sans-serif;
	color:#282B34;
	padding:20% 5%;
	text-align:center;
}

#footer {


}

h1 {
	/*height/prediction height */
	font:50px/400px Helvetica, sans-serif;
	text-align:center;
	color:white;
}
